@import url('https://fonts.googleapis.com/css?family=Open+Sans');

input.addnew {
    width: 40vw;
    height: 3vh;
    padding-left: 1vw;
    border: none;
    margin-bottom: 3vw;
    box-shadow: 10px 10px 52px -5px rgba(0,0,0,0.75);
    font-family: 'Open Sans';
    font-size: 14px;

}

input:focus {
   outline: none;
}

