@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
p {
    width: 40vw;
    height: 3vh;
    background-color: white;
    padding: 5px 5px;
    padding-left: 2vw;
    color: black;
    border-radius: 7px;
    display: flex;
    justify-content:left;
    font-family: 'Open Sans';
    font-size: 14px;
    
}


input.taskitem {
    width: 40vw;
    height: 3vh;
    border: none;
    font-family: 'Open Sans';
    font-size: 14px;
}


div.listItemContainer {
    position: relative;
    
    

}
div.listItemContainer button.delete {
   position: absolute;
   right: 1vw;
   background-color: transparent;
   color: red;
   font-size: 15px;
   font-family: 'Open Sans';
   border: none;
}

div.listItemContainer button.edit {
    position: absolute;
    right: 4vw;
    font-family: 'Open Sans';
    background-color: transparent;
    border: none;

 }

div.listItemContainer button.save {
    position: absolute;
    right: 4vw;
    background-color: transparent;
    border: none;
    font-family: 'Open Sans';
    color: green;
 }