@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900');


h1 {
    font-family: Poppins;
    font-weight: 100;
    font-size: 40px;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 0;
    padding-top: 5vh;

}

img.logo {
    height: 10vh;
   color:white;
    fill: white;
    margin-top: 2vh;
}

div.title {
    display: flex;
    justify-content: center;
    align-items: center;
}